
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color:  #010524;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container {
  background-image:url('../img/background.jpg');
  background-attachment: fixed;
  background-size:cover;
  padding: 50px;
  height: 800px;
  width: 100%;
}
.menu-container{
  margin: 90px;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  justify-content: space-between;
}
.profile{
  border-radius: 100%;
  width: 300px;
}
.text-init{
  font-size: 70px;
  font-weight: 200px;
  text-align: right;
  color: white;
}
.text-name{
  font-size: 50px;
  text-align: left;
  color: white;
}
/* 1ra seccion about-me */
.biog-container{
  margin: 10px;
  padding: 50px;
  width: auto;
}
.about-container{
  margin: 0px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.profile2{
  border-radius: 100px;
  width: 350px;  
  margin: 10px;
}
.title-aboutme{
  font-size: 70px;
  font-weight: 200px;
  text-align: center;
  color: #b9f30a;
  margin-top: 50px;
}
.paragraph{
  color: white;
  font-size: 30px;
  text-align: justify;
  margin-top: 40px;
}
.whoiam-container{
  background: transparent;
}

.tech-container{
  font-size: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 550px;
}

.tech{
  width: 1200px;
  margin: 40px;
}

.projects-container{
  background: transparent;
  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.container-projects{
  color: white;
  text-align: center;
  font-size: 45px;
  align-items: center;
  padding: 40px;
}

.footer-container{
  width: auto;
  height: 40px;
  background: #010534;
}
.fo-container{
  margin: 20px;
  padding: 20px;
  text-align: center;
  align-items: center;
}
.txt-end{
  font-size: 20px;
  color: white;
}
spam{
  color: #2e2eda;
}
.heart{
  color: red;
}
/* Creacion de animacion bash */
.animate{
  display: block;
  color: #b9f30a;
  border-right: 5px solid;
  width: 14ch;
  white-space: nowrap;
  animation: typing 1s steps(25), blink .4s step-end infinite alternate;
  overflow: hidden;
}

@keyframes typing {
  from { width: 0;}
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}