@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@100;200;300;400;500;600;700;800;900&display=swap");

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color:  #010524;
  font-family: "Encode Sans Expanded", "sans-serif";
}

.header-container {
  background-image:url('../img/background.jpg');
  background-attachment: fixed;
  background-size:cover;
  padding: 100px;
  height: 800px;
  width: 100%;
}

.menu-container{
  margin: 90px;
  padding: 10px;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
}

.profile{
  border-radius: 100%;
  width: 300px;
}

.text-init{
  font-size: 75px;
  color: white;
  text-align: left;
}

.text-name{
  font-size: 50px;
  text-align: left;
  color: white;
}

.whoiam-container{
  background: transparent;
}

.tech-container{
  font-size: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 550px;
}

.tech{
  width: 1500px;
  margin: 40px;
  display: flex;
}

.projects-container{
  background: transparent;
  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.container-projects{
  color: white;
  text-align: center;
  font-size: 45px;
  align-items: center;
  padding: 40px;
}

