
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body{
  background-color:  #010524;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.header-container {
  background-image:url('../img/background.jpg');
  background-attachment: fixed;
  background-size:cover;
  padding: 50px;
  height: 800px;
  width: 100%;
}

.menu-container{
  margin: 90px;
  padding: 50px;
  display: flex;
  flex-direction: row-reverse;
  align-items:center;
  justify-content: space-between;
}

.profile{
  border-radius: 100%;
  width: 450px;
}

.text-init{
  font-size: 70px;
  font-weight: 200px;
  text-align: right;
  color: white;
}

.text-name{
  font-size: 50px;
  text-align: left;
  color: white;
}

.whoiam-container{
  background: transparent;
}

.tech-container{
  font-size: 40px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 550px;
}

.tech{
  width: 1500px;
  margin: 40px;
  display: flex;
}

.projects-container{
  background: transparent;
  width: auto;
  height: 400px;
  display: flex;
  flex-direction: column;
}
.container-projects{
  color: white;
  text-align: center;
  font-size: 45px;
  align-items: center;
  padding: 40px;
}

.footer-container{
  width: auto;
  height: 40px;
  background: #010534;
}
.fo-container{
  margin: 20px;
  padding: 20px;
  text-align: center;
  height: 40px;
  align-items: center;
}
.txt-end{
  font-size: 20px;
  color: white;
}
spam:hover{
  color: red;
}

/* Creacion de animacion bash */
.text-init span{
  position: relative;
}

.text-init span::before{
  color: purple;
  content:"";
  animation: words 21s infinite;
}

.text-init span::after{
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  border-left: 5px solid purple;
  background-color:#0003;
  right: -8px;
  animation: cursor .9s infinite, typing 49s steps(9) infinite;
}
@keyframes cursor {
  to{
    border-left: 1px solid transparent;
  }
}
@keyframes words{
  0%, 25%{
    content: "{Hola Mundo}👋";
    opacity: 0;
  }
  26%, 50%{
    content: "{Hola Mundo}👋";
    opacity: 1;
  }
  51%, 75%{
    content:"{Hello World}👋";
    opacity: 0;
  }
  76%, 100%{
    content: "{Hello World}👋";
    opacity: 1;
  }
}
@keyframes typing{
  10%, 15%, 30%, 35%, 50%, 55%, 70%, 75%, 90%, 95%{
    width:0;
  } 
  5%, 20%, 25%, 40%, 45%, 60%, 65%, 80%, 85%, 100%{
    width:calc(100% + 8px);
  }
}